:root {
    --red: hsla(0, 100%, 90%, .33);
    --green: hsla(120, 100%, 90%, .33);
    --bkg: whitesmoke;
    --text: black;
    --base-fading-opacity: .5;
    --loader-color: var(--text);
}

@media (prefers-color-scheme: dark) {
    :root {
        --red: hsla(0, 100%, 10%, .11);
        --green: hsla(120, 100%, 10%, .11);
        --bkg: #121212;
        --text: darkgray;
        --base-fading-opacity: .6;
        --loader-color: white;
    }

    #modes a {
        color: dodgerblue;
    }
}

@media (prefers-color-scheme: light) {
    #fuck-view .loader {
        background-color: var(--bkg);
        filter: contrast(5);
    }
}

* {
    font-family: 'Mali', cursive;
}

body {
    margin: 0;
    background: var(--bkg);
    color: var(--text);
}

.mode {
    opacity: 0;
    transition: opacity .5s ease-out;
}

#session-start {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

#diff-view.bad {
    background: radial-gradient(ellipse, transparent, var(--red));
}

#diff-view.good {
    background: radial-gradient(ellipse, transparent, var(--green));
}

.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter {
    position: absolute;
    top: 45%;
    text-align: center;
}

.counter h1 {
    font-size: 16vh;
    line-height: 0;
}

.counter h2 {
    font-size: 5vh;
    line-height: 0;
}


/*
    SPLIT MODE
*/
#separator {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 3px;
    transform: translate(-1.5px, -50%);
    z-index: 2;
    background: radial-gradient(ellipse, var(--text) 0, var(--text) 50%, #0000001f 75%, transparent 80%, transparent 100%);
}

#split-view .counter {
    transform: translate(0, -50%);
}

#opened {
    width: 50%;
    left: 0;
    background: linear-gradient(90deg, var(--red), transparent);
}

#closed {
    width: 50%;
    right: 0;
    background: linear-gradient(270deg, var(--green), transparent);
}

#opened .counter {
    right: 8%;
}

#closed .counter {
    left: 8%;
}


/*
    FOOTER
 */
#session-start {
    position: fixed;
    bottom: 1vh;
    left: 1vw;
    z-index: 3;
}

#session-start:before {
    content: 'Started: ';
}

#modes {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    z-index: 3;
}

.fading {
    opacity: var(--base-fading-opacity);
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.fading:hover {
    opacity: 1;
}

#modes a {
    text-decoration: none;
}

#fuck-view .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    filter: contrast(8);
}

/**
 * ==============================================
 * Experiment: Gooey Effect
 * Dot Hourglass
 * ==============================================
 */
.dot-hourglass,
.dot-hourglass::before,
.dot-hourglass::after {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: var(--loader-color);
    color: transparent;
    filter: blur(2px);
}

.dot-hourglass {
    margin: -1px 0;
    transform-origin: 5px 20px;
    animation: dot-hourglass 2.4s infinite ease-in-out;
    animation-delay: .6s;
}

.dot-hourglass::before,
.dot-hourglass::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.dot-hourglass::before {
    top: 30px;
}

.dot-hourglass::after {
    animation: dot-hourglass-after 2.4s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes dot-hourglass {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(180deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    75% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes dot-hourglass-after {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
